#parent-third {
    position: relative;
    z-index: 1;
    transform: scale(0.7);
  }
  
  #child-third {
    position: absolute;
    top: 1vw;
    right: 6vw;
    z-index: -1;
    transform: scale(0.85);
  }